@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt.</h2>


<address>
    Moritz Klass<br />
    In den Grasgärten 2<br />
    Telefon:<br />
    017241772721
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:moritz.klass@icloud.com">moritz.klass@icloud.com</a><br />
</address>