@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LiveChat-Projekt - ASP.net</h1>
    <p class="lead">Das ist ein LiveChat Programm für ein Schulprojekt.</p>
    <p><a href="https://github.com/mwwk1404/Friedrich-Projekt" class="btn btn-primary btn-lg">Zum Git-Hub Repository &raquo;</a></p>
</div>